h1{
    font-size: 2.3rem;
    margin: 0cm;
    padding-top: 0cm;
    text-align: justify;
    margin-left: 39.5%;
}
.title{
    text-align: justify;
    margin: 0cm;
    padding-top: 0cm;
    margin-left: 40.3%;
}
#icons{
    text-align: justify;
    margin: 0cm;
    padding-top: 0cm;
    margin-left: 41%;
}
#email{
    text-align: justify;
    margin: 0cm;
    padding-top: 0cm;
    margin-left: 40%;
    margin-bottom: 0.2em;
}

h2{
    font-size: 1.8rem;
    font-family: Chivo Mono;
    color: rgb(1, 63, 84);
    margin: 0cm;
    padding-top: 0cm;
}
hr{
    margin: 0.2em;
}
h3{
    margin: 0cm;
    padding-top: 0cm;
    margin-bottom: 0cm;
}
ul{
    margin: 0.5em;
    margin-bottom: .2rem;
}
img{
    height: 7.7rem;
    width: 7.7rem;
    border-radius: 50%;
    float: left;
    margin-left: 32.5%;
    margin-right: 0cm;
    margin-right: 0.5em;
}
body{
    text-shadow: 1px 1px 1px gray;
    font-family: Roboto Mono;
    background-color: rgb(186, 194, 205);
}
.fa-github:hover{
    color: black;
    font-size: 1.7em;
    transition: 300ms ease-in-out;
}
.fa-facebook:hover{
    color: rgb(59, 89, 152);
    font-size: 1.7em;
    transition: 300ms ease-in-out;
}
.fa-linkedin:hover{
    color: rgb(0, 119, 181);
    font-size: 1.7em;
    transition: 300ms ease-in-out;
}
.fa-twitter:hover{
    color: rgb(29,161,242);
    font-size: 1.7em;
    transition: 300ms ease-in-out;
}
.fa-stack-overflow:hover{
    color: rgb(244, 128, 36);
    font-size: 1.7em;
    transition: 300ms ease-in-out;
}
.fa-brands{
    color: gray;
    transition: 300ms ease-in-out;
}